.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: brown;
}
.accordian {
  width: 500px;
}

.item {
  background-color: aquamarine;
  margin: 20px;
}
.title {
  color: blueviolet;
  cursor: pointer;
  justify-content: space-between;
}
.content {
  color: black;
}
