.form_box{
font-size: 16px;
font-weight: 500;
border : 1px solid black;
display: flex;
justify-content: right;
align-items: center;
    
}

.form_fields{
    margin:15px;
    padding:2px;
    border-radius: 5px;
}

.form_button{
    background-color: burlywood;
    color :rgb(115, 107, 189);
    margin :5px;
    border-radius: 5px;;
    cursor:pointer
}