.header_box{

display: flex;
align-items: center;
justify-content: center;
border : 1px solid black;


}

.header_button{

    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    border-radius: 5px;    
    background-color: bisque;
    cursor:pointer;
    font-size: 16px;
    font-weight: 600;
}