.display_block{
    display: block !important;

}

.display_none{
    display: none !important;
}

.logo{
width: 300px;


}
.search-drop-down{
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border: 1px solid #ced4da;
    top: 37px;
    padding: 20px;
    


}
.suggestion_item{
  padding:5px;
  text-align:'center';
  cursor:pointer;

}
.suggestion_item:hover{
  background-color:#f2f2f2;
}